<div class="root-page {{fields.color_theme}}-theme">
  <h1>{{fields.header}}</h1>
  <h2>Published <span style="color:red;">{{fields.feature_date}}</span> by {{fields.author}}</h2>
  <!-- Use triple propellers to render content with html markup. -->
  <p>{{{fields.short_description}}}</p>
  <section class="page-content">
    <ul class="proficiencies">
      {{#each fields.proficiencies}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    <div class="main-content">
      <!-- Use triple propellers to render content with html markup. -->
      {{{fields.body}}}
    </div>
  </section>

  <!-- Example of using a handlebars #if conditional based on whether a the "Show Featured Project" checkbox field is checked. -->
  {{#if fields.show_featured_project}}
    <section class="featured_project">
      {{#each fields.featured_project}}
        <a class="featured_project" href="{{url}}" target="_blank">
          <img src="{{subtitle}}" alt="{{title}}">
          <h3>{{title}}</h3>
          <p>{{caption}}</p>
        </a>
      {{/each}}
    </section>
  {{/if}}

  <section class="other_resources">
    <ul>
      {{#each fields.other_resources}}
        <li class="resource">
          <a href="{{url}}" target="_blank">
            <h3>{{title}}</h3>
            <p>{{caption}}</p>
          </a>
        </li>
      {{/each}}
    </ul>
  </section>
  <section class="related_articles">
    <ul>
      {{#each related_items.related_articles}}
        <li class="article">
          <a href="{{slug}}" target="_blank">
            <h3>{{fields.header}}</h3>
            <p>{{fields.short_description}}</p>
          </a>
        </li>
      {{/each}}
    </ul>
  </section>
</div>
<div class="help-section">
  {{{help}}}
</div>